<!-- permet d'utiliser le fichier base.html -->
{% extends "base.html" %}

{% block title%}
A propos de moi
{%endblock%}

{% block contain %}
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Présentation</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ url_for('static',filename='images/profil.jpg') }}"  height="150" width="150" alt="card image"></p>
                                    <h4 class="card-title">Adrien REYMANN</h4>
                                        <p class="card-text">Passionné par l'informatique, j'ai fait le choix d'étudier et de me spécialiser dans la programmation. Ce choix m'a paru être une évidence car j'ai toujours voulu découvrir l'envers du décor des programmes que j'utilisais ou jeux auxquels je jouais durant mon enfance. Aujourd'hui, mon objectif principal est d'apporter au mieux mes connaissances dans le domaine de l'informatique pour contribuer à l'avancée technologique et pouvoir espérer un meilleur monde pour les générations qui me succéderont. </p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">
                                    <h5 class="card-title">Contact</h5>
                                    <ul><li>-Mail: adrien.reymann@outlook.com</li></ul></p>
                                    <p class="card-text">
                                    <h5 class="card-title">Informations</h5>
                                    <ul><li>-Age: 23 ans</li><li>-Nationalité: Français</li><li>-Titulaire du permis B</li><li>-Véhiculé</li> </ul></p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/adrien-reymann-699a33164/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="/cv">
                                                 <img src="{{ url_for('static',filename='images/CV.png') }}" height="30" width="30">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>
{% endblock %}