{% extends "base.html" %}

{% block title%}
CV
{%endblock%}

{%block contain%}
<div class="card text-center">
  <div class="card-header">
    Expériences Profesionnelles
  </div>
  <div class="card-body">
    <h5 class="card-title">Alternant Développeur</h5>
    <h6 class="card-title">De septembre 2019 à septembre 2020 à Gefi Assurance</h6>
  </div>
    <div class="card-body">
    <h5 class="card-title">Stagiaire Développeur</h5>
    <h6 class="card-title">De Mai 2017 à juillet 2017 à AIR FRANCE INDUSTRIE</h6>
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    Diplôme et Formation
  </div>
  <div class="card-body">
    <h5 class="card-title">Master 1 - Master Développement Logiciel, Mobile et Objets Connectés</h5>
    <h6 class="card-title">De septembre 2020 à septembre 2022 à H3HITEMA ISSY-LES-MOULINEAUX</h6>
  </div>
  <div class="card-body">
    <h5 class="card-title">Bachelor Responsable de Projets Informatiques(Titre RNCP Niveau II)</h5>
    <h6 class="card-title">De septembre 2019 à septembre 2020 à H3HITEMA ISSY-LES-MOULINEAUX</h6>
      <h7 class="card-title">Option Développement Web et Application</h7>
  </div>
  <div class="card-body">
    <h5 class="card-title">Brevet Technicien supérieur Système Numérique</h5>
    <h6 class="card-title">De septembre 2016 à septembre 2019 au Lycée Janot à Sens(89)</h6>
      <h7 class="card-title">Option informatique & Réseaux</h7>
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    Langues
  </div>
  <div class="card-body">
    <h6 class="card-title">Anglais niveau B1</h6>
    <h6 class="card-title">Thaî Niveau C1 à l'oral</h6>
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    Compétence
  </div>
    <div class="card-body">
    <h5 class="card-title">Stack Logiciel:</h5>
    <h6 class="card-title">VBA</h6>
    <h6 class="card-title">C/C++/C#</h6>
    <h6 class="card-title">Python</h6>
  </div>
  <div class="card-body">
    <h5 class="card-title">Front-end Web:</h5>
    <h6 class="card-title">HTML</h6>
    <h6 class="card-title">CSS</h6>
    <h6 class="card-title">JAVASCRIPT</h6>
  </div>
  <div class="card-body">
    <h5 class="card-title">Back-end Web:</h5>
      <p class="card-text">PHP</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Autres:</h5>
    <h6 class="card-title">Powershell</h6>
    <h6 class="card-title">SQL</h6>
    <h6 class="card-title">Shell</h6>
    <h6 class="card-title">UML</h6>
  </div>
  <div class="card-body">
    <h5 class="card-title">Framework:</h5>
    <h6 class="card-title">Zend</h6>
    <h6 class="card-title">Laravel</h6>
    <h6 class="card-title">Symfony</h6>
  </div>
  <div class="card-body">
    <h5 class="card-title">Versioning:</h5>
    <h6 class="card-title">Git</h6>
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    Centre d'intérêt
  </div>
  <div class="card-body">
    <h5 class="card-title">Culture Japonaise</h5>
    <p class="card-text">Passioné de Mangas, Gastronomie et de la langue japonaise</p>
  </div>
      <div class="card-body">
    <h5 class="card-title">Voyage</h5>
          <p class="card-text">J'ai eu l'occasion de pouvoir voyager a travers le monde notemment l'Afrique du Sud,la Thaîlande, la Suède et le Royaume Uni</p>
    <p class="card-text"></p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Programmation Informatique</h5>
    <p class="card-text"></p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Rugby</h5>
    <p class="card-text"></p>
  </div>
</div>
<div class="card-footer text-muted text-center">
  <a href="{{url_for('static', filename='CV_REYMANN_ADRIEN.pdf')}}" class="btn btn-primary">Accès à mon CV en PDF</a>
</div>

{%endblock%}